*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  padding: 10px;
  display: block;
  width: 100%;
  background: black;
  color : white;
}

.list{
  padding: 10px;
  border-bottom: 1px solid black;
}

.modal{
  margin-top:20px;
  padding:20px;
  background:#eee;
  text-align: left;
}